<div class="container">
    <div class="page-header">
        <h3>Test App</h3>
    </div>
    <div class="">
        <p class="alert alert-success" *ngIf="btnClicked; else notClicked">List Created.</p>
        <ng-template #notClicked>
            <p class="alert alert-danger">List does not exist!</p>
        </ng-template>
        <input type="button" class="btn btn-primary" value="Add number" (click)="clickAction()">
        <hr>
    </div>
    <div *ngIf="btnClicked">
        <p *ngFor="let num of numbersList" [ngStyle]="{color: getColor()}" [ngClass]="{even: (num % 2 === 0 ? 'even' : 'odd') === 'even', odd: (num % 2 === 0 ? 'even' : 'odd') === 'odd'}" class="well well-sm">The number {{num}} is {{num % 2 === 0 ? 'even' : 'odd'}}.</p>
        <hr>
    </div>
</div>